@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('AeonikProTRIAL-BoldItalic.woff2') format('woff2'),
        url('AeonikProTRIAL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('AeonikProTRIAL-LightItalic.woff2') format('woff2'),
        url('AeonikProTRIAL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('AeonikProTRIAL-RegularItalic.woff2') format('woff2'),
        url('AeonikProTRIAL-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('AeonikProTRIAL-Regular.woff2') format('woff2'),
        url('AeonikProTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('AeonikProTRIAL-Bold.woff2') format('woff2'),
        url('AeonikProTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('AeonikProTRIAL-Light.woff2') format('woff2'),
        url('AeonikProTRIAL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

